<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Library</title>
</head>
<body>
<h3>Our books:</h3>
<form method="GET" th:object="${books}">
    <table>
        <thead>
        <tr>
            <th> Title </th>
            <th> Author </th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${books.empty}">
            <td colspan="2"> No Books Available </td>
        </tr>
        <tr th:each="book : ${books}">
            <td><span th:text="${book.title}"> Title </span></td>
            <td><span th:text="${book.author}"> Author </span></td>
        </tr>
        </tbody>
    </table>
</form>
</body>
</html>